<!-- Navigation Bar-->

<style>
    .no-hover:hover{
    background-color: #ff5d48 !important;
    text-decoration: none;
    }
    .no-hove:hover{
    background-color: #1bb99a !important;
    text-decoration: none;
    }
    </style>
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">
    
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="#" class="logo" style="float:left">
                      
                        <span><img src="../../../assets/logo.png">
    
                        <a class="btn btn-danger no-hover" data-toggle="" style="margin-left: 20px;margin-top:10px;float: left;color: white"> Total Users 3</a>
                        <a class="btn btn-danger no-hover"  style="margin-left: 20px;margin-top:10px;color: white">Total Guards 3</a>
                        <a class="btn" style="margin-left: 20px;margin-top:10px;color: white; font-size:large;"><b>REF.CODE- BLR-001</b></a>
    
                    </span>
                    </a>
                </div>
                <!-- End Logo container-->
    
    
                <div class="menu-extras navbar-topbar" >
    
                    <ul class="list-inline float-right mb-0" style="margin-top:-37px">
    
                        <li class="list-inline-item">
                            <!-- Mobile menu toggle-->
                            <a class="navbar-toggle">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                            <!-- End mobile menu toggle-->
                        </li>
    
                        <li class="list-inline-item dropdown notification-list">
                          
                                 <b style="margin-left: 20px;margin-top:10px;color: white; font-size:large;">REF.CODE-</b>
    
                           
                        </li>
    
                       
    
                        <li class="list-inline-item dropdown notification-list">
                            <a href="/user_logout" class="btn btn-success no-hove no-hover"  style="margin-left: 20px;margin-bottom: 5px;color: white;">                                <i class="zmdi zmdi-power"></i> <span>Logout</span></a>
                          
                        </li>
    
                    </ul>
    
                </div> <!-- end menu-extras -->
                <div class="clearfix"></div>
    
            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->
    
    
        <div class="navbar-custom">
            <div class="container">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                          <!--- <li class="text-muted menu-title">Navigation</li> -->                 
                    <li class="has-submenu">
                        <!-- <a href="state_dashboard/user_management"></a>  -->
                        <a href="#" class="waves-effect"><i class="zmdi zmdi-accounts-alt" style="font-size:25px;"></i> <span> Manage User </span></a>
                    </li>
                     <li class="has-submenu">
                        <!-- <a href="Estate_dashboard/manage_guard"></a> -->
                        <a href="#" class="waves-effect"><i class="zmdi zmdi-accounts-alt" style="font-size:25px;"></i> <span> Manage Guard </span></a>
                    </li>
                     <li class="has-submenu">
                        <!-- <a href="Estate_dashboard/property_management"> </a> -->
                        <a href="#" class="waves-effect"><i class="zmdi zmdi-home" style="font-size:25px;"></i> <span>Property/Flats</span></a>
                    </li>
                     <li class="has-submenu">
                        <!-- <a href="Estate_dashboard/guest_list"> </a> -->
                        <a href="#" class="waves-effect"><i class="zmdi zmdi-accounts-alt" style="font-size:25px;"></i> <span> Guest List </span></a>
                    </li>    
    
                    </ul>
                    <!-- End navigation menu  -->
                </div>
            </div>
        </div>
    </header>
    <!-- End Navigation Bar-->
    
    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    
    
    