<div class="account-pages" style="background-image: url('online-ordering.jpg');background-size: 100% 100%;"></div>
<div class="clearfix"></div>
<div class="wrapper-page">


    <div class="account-bg" style="background-color: #ffffffbf;">
    <div class="text-center m-t-20">
        <!--<a href="#" class="logo">-->

        
        <!--</a>-->
    </div>
    <div class="m-t-10 p-20">
        <div class="row">
            <div class="col-12 text-center">
                <h6 class="text-muted text-uppercase m-b-0 m-t-0">Sign In</h6>
            </div>
        </div>
          <!-- <form class="m-t-20" action="Login/login_user" method="post"> -->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <div class="col-12">
             <!-- <input class="form-control" name="user_email" type="text" required="" placeholder="Email"> -->
                <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
               <!-- <input class="form-control" name="user_password" type="password" required="" placeholder="Password"> -->
               <input type="password" formControlName="Password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
               <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                   <div *ngIf="f.Password.errors.required">Password is required</div>
               </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <div class="checkbox checkbox-custom">
                    <input id="checkbox-signup" type="checkbox">
                    <label for="checkbox-signup">
                        Remember me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group text-center row m-t-10">
            <div class="col-12">
                <button class="btn btn-success btn-block waves-effect waves-light" type="submit" id="login_submit">Log In</button>
            </div>
        </div>

        <div class="form-group row m-t-30 mb-0">
            <div class="col-12">
                <a href="javascript:void(0)" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
            </div>
        </div>
</form>


    </div>

    <div class="clearfix"></div>
</div>

<!-- <div class="m-t-20">
    <div class="text-center">
        <p class="text-black m-l-3">Don't have an account? <a href="javascript:void(0)" class="text-success m-l-5"><b>Sign Up</b></a></p>
    </div>
</div> -->

</div>